@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.videos {
    background-color: $white;
    margin-inline: 1rem;

    @include tablet {
        margin-inline: 2rem;
    }

    @include desktop {
        margin-right: auto;
        margin-left: 0;
        margin-top: -1rem;
        border-left: 1px solid $mercury;
        padding-left: 1.5rem;
        height: 100%;
    }

    &__header {
        margin-block: 1rem;
        font-size: 0.8rem;
        font-weight: 600;
        color: $silver;
        text-transform: uppercase;

        @include desktop {
            padding-top: 2rem;
            margin-bottom: 1.3rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10rem;
    }

    &__item {
        display: flex;
        gap: 1rem;
        width: 100%;
        height: 4.6rem;
        margin-bottom: 1rem;

        &__thumbnail {
            border-radius: 4px;
            height: 100%;
            width: 7.3rem;
            object-fit: cover;
        }

        &__text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            width: 14rem;

            @include desktop {
                width: 12rem;
                margin-right: auto;
            }
        }

        &__title {
            font-size: 1rem;
            font-weight: 600;
            color: $black;
        }

        &__channel {
            font-size: 0.9rem;
        }
    }
}