* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/AlternativeFiles/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/AlternativeFiles/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/AlternativeFiles/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
.upload__header {
  font-size: 1.6rem;
  font-weight: 600;
  color: #323232;
  padding-left: 1rem;
  padding-block: 1.5rem;
}
@media (min-width: 768px) {
  .upload__header {
    font-size: 2.3rem;
    border-bottom: 1px solid #E1E1E1;
    margin-inline: 2rem;
    padding-left: 0;
    margin-bottom: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .upload__header {
    margin-inline: 8rem;
  }
}
.upload__thumbnail {
  background-color: #E1E1E1;
  border-radius: 4px;
  border-color: transparent;
  height: 10rem;
  width: 100%;
}
@media (min-width: 768px) {
  .upload__thumbnail {
    height: 13rem;
    width: 25rem;
  }
}
@media (min-width: 1280px) {
  .upload__thumbnail {
    height: 12rem;
    width: 21rem;
  }
}
.upload__thumbnail-container {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .upload__thumbnail-container {
    margin: 0 auto 1.5rem 0rem;
  }
}
@media (min-width: 1280px) {
  .upload__thumbnail-container {
    margin-right: 2rem;
    margin-bottom: 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 100%;
  }
}
.upload__thumbnail-header {
  margin-bottom: 0.5rem;
  font-size: 0.77rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .upload__thumbnail-header {
    font-size: 0.85rem;
  }
}
.upload__form {
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .upload__form {
    margin-inline: 2rem;
  }
}
@media (min-width: 1280px) {
  .upload__form {
    flex-direction: row;
    height: 100%;
    margin-inline: 8rem;
  }
}
.upload__form__label {
  margin-bottom: 0.5rem;
  font-size: 0.77rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #AFAFAF;
}
@media (min-width: 1280px) {
  .upload__form__label {
    font-size: 0.85rem;
  }
}
.upload__form__input {
  height: 6.25rem;
  resize: none;
  padding: 0.6rem 0 0 0.6rem;
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  margin-bottom: 1rem;
  color: #000000;
  padding: 0 0 0 0.5rem;
  height: 3rem;
}
.upload__form__input::-moz-placeholder {
  color: #000000;
  font-size: 0.9rem;
}
.upload__form__input:-ms-input-placeholder {
  color: #000000;
  font-size: 0.9rem;
}
.upload__form__input::placeholder {
  color: #000000;
  font-size: 0.9rem;
}
.upload__form__input:focus {
  border: 2px solid #0095FF;
  outline: none;
}
@media (min-width: 768px) {
  .upload__form__input {
    height: 2.5rem;
    width: 30rem;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .upload__form__input {
    width: 100%;
  }
}
.upload__form__input:nth-of-type(1) {
  margin-bottom: 1rem;
}
.upload__form__input-group {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .upload__form__input-group {
    width: 100%;
  }
}
.upload__form__input-textarea {
  height: 6.25rem;
  resize: none;
  padding: 0.6rem 0 0 0.6rem;
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  margin-bottom: 1rem;
  color: #000000;
  padding: 0.7rem 0 0 0.5rem;
}
.upload__form__input-textarea::-moz-placeholder {
  color: #000000;
  font-size: 0.9rem;
}
.upload__form__input-textarea:-ms-input-placeholder {
  color: #000000;
  font-size: 0.9rem;
}
.upload__form__input-textarea::placeholder {
  color: #000000;
  font-size: 0.9rem;
}
.upload__form__input-textarea:focus {
  border: 2px solid #0095FF;
  outline: none;
}
@media (min-width: 768px) {
  .upload__form__input-textarea {
    height: 2.5rem;
    width: 30rem;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .upload__form__input-textarea {
    width: 100%;
    height: 5.5rem;
  }
}
@media (min-width: 1280px) {
  .upload__form__input-textarea {
    height: 7rem;
  }
}
.upload__form__buttons-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .upload__form__buttons-container {
    flex-direction: row-reverse;
    border-top: 1px solid #E1E1E1;
    padding-top: 1.5rem;
    margin: 1.5rem 2rem 2rem 2rem;
  }
}
@media (min-width: 1280px) {
  .upload__form__buttons-container {
    margin-inline: 8rem;
  }
}
.upload__form__submit-button {
  border: 1px solid #0095FF;
  border-radius: 4px;
  height: 2.5rem;
  background-color: #0095FF;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
  height: 2.9rem;
  margin-inline: 1rem;
}
.upload__form__submit-button:hover {
  background-color: #0065AD;
  border-color: #0065AD;
}
@media (min-width: 768px) {
  .upload__form__submit-button {
    width: 10rem;
    margin-left: auto;
    align-self: end;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .upload__form__submit-button {
    margin-right: 6rem;
    font-size: 0.85rem;
  }
}
.upload__form__submit-button-icon {
  background-color: transparent;
  position: absolute;
  left: 0.5rem;
  height: 1.2rem;
}
@media (min-width: 768px) {
  .upload__form__submit-button-icon {
    bottom: 0.6rem;
    height: 1.1rem;
  }
}
@media (min-width: 768px) {
  .upload__form__submit-button {
    margin: 0;
    margin-left: 5rem;
    height: 3rem;
    width: 10.5rem;
  }
}
@media (min-width: 1280px) {
  .upload__form__submit-button {
    width: 12rem;
  }
}
.upload__form__submit-button-icon {
  background-color: transparent;
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  height: 1.6rem;
}
@media (min-width: 768px) {
  .upload__form__submit-button-icon {
    height: 1.5rem;
    bottom: 0.7rem;
  }
}
@media (min-width: 1280px) {
  .upload__form__submit-button-icon {
    bottom: 0.6rem;
  }
}
.upload__form__cancel-button {
  border: 1px solid transparent;
  border-radius: 4px;
  height: 2.5rem;
  background-color: transparent;
  text-transform: uppercase;
  color: #0095FF;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .upload__form__cancel-button {
    margin: 0;
  }
}/*# sourceMappingURL=Upload.css.map */