.comments {
  background-color: #FFFFFF;
  margin-inline: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .comments {
    margin-inline: 2rem;
  }
}
@media (min-width: 1280px) {
  .comments {
    margin-left: 8rem;
  }
}
.comments__amount {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .comments__amount {
    margin-top: 2rem;
  }
}
.comments__form {
  display: flex;
  margin-right: 2rem;
}
@media (min-width: 768px) {
  .comments__form {
    margin-right: 4rem;
  }
}
.comments__form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comments__form-container {
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
}
.comments__field-container {
  display: flex;
  flex-direction: column;
}
.comments__avatar {
  background-color: #E1E1E1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../../assets/images/Mohan-muruge.jpg);
  background-position: 10%;
  background-size: cover;
}
@media (min-width: 1280px) {
  .comments__avatar {
    width: 44px;
    height: 44px;
  }
}
.comments__avatar-container {
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .comments__avatar-container {
    margin-right: 2.5rem;
  }
}
.comments__label {
  margin-bottom: 0.5rem;
  font-size: 0.77rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #AFAFAF;
}
.comments__input {
  height: 6.25rem;
  resize: none;
  padding: 0.6rem 0 0 0.6rem;
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  margin-bottom: 1rem;
  color: #000000;
}
.comments__input::-moz-placeholder {
  color: #000000;
}
.comments__input:-ms-input-placeholder {
  color: #000000;
}
.comments__input::placeholder {
  color: #000000;
}
.comments__input:focus {
  border: 2px solid #0095FF;
  outline: none;
}
@media (min-width: 768px) {
  .comments__input {
    height: 2.5rem;
    width: 30rem;
    margin: 0;
  }
}
.comments__submit-button {
  border: 1px solid #0095FF;
  border-radius: 4px;
  height: 2.5rem;
  background-color: #0095FF;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 0.78rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
}
.comments__submit-button:hover {
  background-color: #0065AD;
  border-color: #0065AD;
}
@media (min-width: 768px) {
  .comments__submit-button {
    width: 10rem;
    margin-left: auto;
    align-self: end;
    margin-bottom: 0;
    font-size: 0.73rem;
  }
}
@media (min-width: 1280px) {
  .comments__submit-button {
    margin-right: 6rem;
  }
}
.comments__submit-button-icon {
  background-color: transparent;
  position: absolute;
  left: 0.5rem;
  height: 1.2rem;
}
@media (min-width: 768px) {
  .comments__submit-button-icon {
    bottom: 0.6rem;
    height: 1.1rem;
  }
}

.entries__comment {
  margin-inline: 1rem;
  border-bottom: 1px solid #E1E1E1;
  display: flex;
  flex-direction: row;
}
.entries__comment:nth-of-type(1) {
  border-top: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .entries__comment {
    margin-inline: 2rem;
  }
}
@media (min-width: 1280px) {
  .entries__comment {
    margin-left: 8rem;
    margin-right: 0;
  }
}
.entries__comment__avatar {
  background-color: #E1E1E1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media (min-width: 1280px) {
  .entries__comment__avatar {
    width: 44px;
    height: 44px;
  }
}
.entries__comment__avatar-container {
  margin-right: 1rem;
  margin-top: 1rem;
}
@media (min-width: 1280px) {
  .entries__comment__avatar-container {
    margin-top: 1.8rem;
  }
}
.entries__comment__text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1280px) {
  .entries__comment__text {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
}
.entries__comment__subgroup {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.65rem;
}
.entries__comment__name {
  font-size: 0.9rem;
  font-weight: 600;
  color: #323232;
}
.entries__comment__timestamp {
  margin-left: auto;
  font-size: 0.9rem;
  font-weight: 400;
  color: #AFAFAF;
}
.entries__comment__description {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #000000;
}/*# sourceMappingURL=Comments.css.map */